#header{
    background-image: url("img/header.jpg");
    width: 1550px;
    height: 1080px;

    background-repeat: no-repeat;
}

.body {
    margin: 0; /* Отступы на странице */
    background-image: url("img/Hd-Galaxy-Wallpaper-013.jpg");

}
#content { /* Правая колонка */
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина колонки */
    background-image: url("img/");
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
}
#footer { /* Нижний блок */
    background-image: url("img/footer.png.jpg");
    widht: 1500px;
    height: 600px;
    margin-top:420px;
    background-size: 100%;

}

#footer2 { /* Нижний блок */
    background-image: url("img/06020b12bdd813d5906d9fe38ba5c12b07bb4cf6.jpg");
    width: 1550px;
    height: 600px;
    margin-top: 1%;
    background-repeat: no-repeat;
    margin-top:420px;
    background-size: 100%;
}

button {
    float: right;
    margin-right: 50px;
}
.left{
    width: 700px;
    height: 900px;
    float: left;
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
}
.right{
    width: 700px;
    height: 900px;
    float: right;
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 1%;

}
.left2{
    width: 700px;
    height: 900px;
    float: left;
    background-image: url("img/3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
}
.right2{
    width: 700px;
    height: 900px;
    float: right;
    background-image: url("img/4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 1%;

}