.for{
    width:450px;
    height: 1000px;
    background: #77b300;
    border: #77b300;
    margin: 0 auto;
    margin-bottom: 10px;
}
form{
    position: center;
}
label{
margin: 10px;
}
.modal{
    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 15px;
    margin-left: 20px;
}
.obvodka{
    background-color:rgba(255,255,255,.3);
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border:rgba(255,255,255,.3)3px;
}
.field {clear:both; text-align:right;}
label {float:left;}
.field {clear:both; text-align:right;}
label {float:left;}
.main {float:left}
.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left}
